<!-- attribute.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{user/fragments :: head}">
    <title>학원소개</title>
</head>

<body>
<header id="header" class="fixed-top d-flex align-items-center  header-transparent" th:replace="~{user/fragments :: copy}"></header>
<section id="about" class="about menu-section">
    <div class="col-md-3">
        <div id="aboutList" th:replace="~{user/about/fragments :: list}"></div>
    </div>
    <div class="container">
        <div class="section-title" data-aos="zoom-out">
            <h2>About InsungAcademy</h2>
            <p>인성 + 직업 + 꿈</p>
        </div>

        <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
                <p class="about-tilte">
                    융합교육실천을 통해 인성과 전문성을 갖춘 창의적 인재양성의 요람.
                </p>
                <p>
                    인성회계캐드직업전문학원의 방문을 환영합니다.<br>
                    참된 인성과 전문성을 겸비한 실용인재 양성 교육기관.<br>
                    2010년 “회계교육을 통한 실무 전문 인력양성”이란 목적으로 설립된 투철한 사명감과<br>
                    교육철학을 바탕으로 경주지역 직업전문학원으로 현재까지 성장하여 왔습니다.<br>
                    인성회계캐드직업전문학원만의 커리큘럼과 차별화된 교육의 성과로<br>
                    2012년 대구지방고용노동청 포항지청 표창장 수상 <br>
                    2016년 ~ 2019년 NCS이수자평가 전직종 "A등급"(실업자, 재직자)<br>
                    2017년 고용노동부 장관상 수상<br>
                    2016년 ~ 2022년 직업능력심사평가원 7년 연속 "전국 우수훈련기관 선정"<br>
                    변화, 새로운 도약을 준비하는 인성회계캐드직업전문학원<br>
                    인성회계캐드직업전문학원은 현재까지의 성장과 결실에 만족하지 않고,<br>
                    새로운 도약을 준비하고 있습니다.<br>
                    오늘 보다 나은 내일을 위한 여러분들의 꿈과 열정...<br>
                    행복한 미래를 준비하는 여러분들의 소중한 시간을<br>
                    인성회계캐드직업전문학원이 함께 하며 응원하려 합니다.<br>
                    취업성공 등용문!! 인성회계캐드직업전문학원과 함께 하십시요.<br>

                </p>

            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <img th:src="@{/assets/img/about/attribute.png}" class="title-img">
            </div>
        </div>
        </div>

</section><!-- End About Section -->
<footer th:replace="~{user/fragments :: footer-script}"></footer>

<script src="/assets/js/list.js"></script>
</body>
</html>
