<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{user/fragments :: head}">
    <title>관리자 로그인</title>
</head>

<body>
<header id="header" class="fixed-top d-flex align-items-center  header-transparent"
        th:replace="~{user/fragments :: copy}"></header>
<script>
    function login() {
        $("#login_form").submit();
    }
</script>
<section id="about" class="about" style="margin-top:100px;">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>관리자 로그인</h2>
        </div>

        <form id="login_form" th:action="@{/admin/login}" method="post" data-aos="fade-up">
            <div th:if="${msg}" class="alert alert-danger">
                <span th:text="${msg}"></span>
            </div>
            <div class="mb-3">
                <label for="adminId" class="form-label">관리자 아이디</label>
                <input type="text" class="form-control" id="adminId" name="adminId" required>
            </div>
            <div class="mb-3">
                <label for="adminPassword" class="form-label">관리자 패스워드</label>
                <input type="password" class="form-control" id="adminPassword" name="adminPassword" required>
            </div>
        </form>
        <div data-aos="fade-up">
            <a href="javascript:login();" style="color: #1a1d20">로그인</a>
        </div>
    </div>
</section>

<footer th:replace="~{user/fragments :: footer-script}"></footer>
</body>
</html>
