<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<div class="error-container">
    <h1>에러페이지</h1>
    <p class="message">해당 에러내용은 개발자에게 전송되었습니다.<br> 불편을 일으켜드려 죄송합니다.<br> 아래버튼을 눌러 이동해주시기 바랍니다.</p>
    <a href="/">홈으로 가기</a>
    <a href="javascript:history.go(-1)">뒤로 가기</a>
</div>
</body>
</html>
