<!-- attribute.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{user/fragments :: head}">
    <title>수강료조회</title>
</head>

<body>
<header id="header" class="fixed-top d-flex align-items-center  header-transparent" th:replace="~{user/fragments :: copy}"></header>
<section id="about" class="menu-section">
    <div class="col-md-3">
        <div id="aboutList" th:replace="~{user/counseling/fragments :: list}"></div>
    </div>
    <div class="container">
        <div class="section-title" data-aos="zoom-out">
            <h2>수강료조회</h2>
            <p>Course fee inquiry</p>
        </div>

        <div class="row content" data-aos="fade-up">

        </div>
    </div>

</section><!-- End About Section -->
<footer th:replace="~{user/fragments :: footer-script}"></footer>

<script src="/assets/js/list.js"></script>
</body>
</html>
